/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* CSS Variable*/
:root{
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Comic Neue", cursive;
    --primary-color: 
}

body{
    font-family: var(--primary-font);
}
h1, h2{
    font-family: var(--secondary-font)
}